%h1 House Buyer

%p 
  Enter the address of a house you are interested in, e.g.
  %b 1057 Lovely St Suburbtown

%form{ :action => "", :method => "get"}
  %label{:for => "address"} Address:
  %input{:type => "text", :name => "address", :class => "text", :size => "60", :value => @address}
  %input{:type => "submit", :value => "Search", :class => "button"}

-if @address
  %p 
    Search links for address 
    =succeed ":" do
      %b= @address

  %ul
    %li
      %a{:href=>$googleSearcher.searchUrl(@addressQuery),:target=>"_blank"} Google
    %li      
      Map search restricted to:
      - for region in $googleRegionSearchers do
        %a{:href=>region.searchUrl(@addressQuery),:target=>"_blank"} #{region.name}

  - for siteGroup in $siteGroups do
    %ul
      - for site in siteGroup.sites do
        %li
          %a{:href=>site.searchUrl(@addressQuery),:target=>"_blank"}
            =site.name
